# Plane Actions

0= Input
1 = Output
2= And
3 = Or
4= Not
5 = Xor

* Availble Actions:
* Input, Output, Inout, And, Nand, Or, Nor, Xor, Xnor, Not, One

# Default Positions

0 = 1,2,4,8,16,32,64,128
1 = 1,2,4,8,16,32,64,128
2 = 1,2,4,8,16,32,64,128
3 = 1,2,4,8,16,32,64,128
4 = 1,2,4,8,16,32,64,128
5 = 1,2,4,8,16,32,64,128

*             ----------
*            | u6 u7 u0 |
*            | u5 uc u1 |
*            | u4 u3 u2 |
*  ---------- ---------- ---------- ----------
* | l6 l7 l0 | f6 f7 f0 | r6 r7 r8 | b6 b7 b0 |
* | l5 lc l1 | f5 fc f1 | r5 rc r1 | b5 bc b1 |
* | l4 l3 l2 | f4 f3 f2 | r4 r3 r2 | b4 b3 b2 |
*  ---------- ---------- ---------- ----------
*            | d6 d7 d0 |
*            | d5 dc d1 |
*            | d4 d3 d2 |
*             ----------
